<h3>Register</h3>

<div class="panel panel-default">
    <div class="panel-body">
        <div class="col-md-4">
            <div class="form-group">
                <label class="control-label" for="nomeCliente">Customer Name</label>
                <input type="text" class="form-control" id="nomeCliente" placeholder="Customer Name">
            </div>
            <div class="form-group">
                <label class="control-label" for="email">Email</label>
                <input type="email" class="form-control" id="email" placeholder="Email">
            </div>
            <div class="form-group">
                <label class="control-label" for="telefone">Phone</label>
                <input type="text" class="form-control" id="telefone" placeholder="Phone">
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label class="control-label" for="adress">Adress</label>
                <input type="text" class="form-control" id="adress" placeholder="Adress">
            </div>
            <div class="form-group">
                <label class="control-label" for="Complement">Complement</label>
                <input type="text" class="form-control" id="Complement" placeholder="Complement">
            </div>
            <div class="form-group">
                <label class="control-label" for="bairro">District</label>
                <input type="text" class="form-control" id="bairro" placeholder="District">
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label class="control-label" for="City">City</label>
                <input type="text" class="form-control" id="City" placeholder="City">
            </div>
            <div class="form-group">
                <label class="control-label" for="State">State</label>
                <select class="form-control single-select" name="State">
                    <option selected value="">[Selecione o estado]</option>
                    <option value="AC">Acre</option>
                    <option value="AL">Alagoas</option>
                    <option value="AP">Amapá</option>
                    <option value="AM">Amazonas</option>
                    <option value="BA">Bahia</option>
                    <option value="CE">Ceará</option>
                    <option value="DF">Distrito Federal</option>
                    <option value="ES">Espírito Santo</option>
                    <option value="GO">Goiás</option>
                    <option value="MA">Maranhão</option>
                    <option value="MT">Mato Grosso</option>
                    <option value="MS">Mato Grosso do Sul</option>
                    <option value="MG">Minas Gerais</option>
                    <option value="PA">Pará</option>
                    <option value="PB">Paraíba</option>
                    <option value="PR">Paraná</option>
                    <option value="PE">Pernambuco</option>
                    <option value="PI">Piauí</option>
                    <option value="RJ">Rio de Janeiro</option>
                    <option value="RN">Rio Grande do Norte</option>
                    <option value="RS">Rio Grande do Sul</option>
                    <option value="RO">Rondônia</option>
                    <option value="RR">Roraima</option>
                    <option value="SC">Santa Catarina</option>
                    <option value="SP">São Paulo</option>
                    <option value="SE">Sergipe</option>
                    <option value="TO">Tocantins</option>
                </select>
            </div>
            <div class="form-group">
                <label class="control-label" for="cep">ZipCode</label>
                <input type="text" class="form-control" id="cep" placeholder="ZipCode">
            </div>

            <div class="form-group">
                <a class="btn btn-success" href="/">
                    Keep Buying
                </a>
            </div>
            <div class="form-group">
                <button type="submit"
                        class="btn btn-success">
                    Finish Order
                </button>
            </div>
        </div>
    </div>
</div>
